/*oh CSS I miss you and your importance! Here is some styling, just so that you're not left out!*/

html, body{
    margin: 0px;
    padding: 5px;
    color: white;
    background: linear-gradient(to right, rgba(0, 110, 255, 0.507), rgba(255, 125, 0, .5));

}