<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="site.css">
    <title>Todo List 5000</title>
</head>
<body>
<div id="app">

<!-- V-ON SUBMIT.PREVENT IS INCREDIBLE..WHEN YOU REMEMBER IT! -->


<!-- could be a little prettier, but look at those buttons! -->
    <h1>The list!</h1>

    <!-- display the todos, and their index! make a button for delete and complete while you're at it -->
    <ul>
        <li v-for="(todo, index) in todos">{{ todo.text }}
            <button v-on:click="deleteItem(index)"
                class="button" 
                id="delete">delete
            </button>
            <button v-on:click="completeItem(index)"
                class="button" 
                id="complete">complete</button>
        </li>
    </ul>

    <ul>
        Completed List!
        <li v-for="completed_todo in completed_todos"> {{completed_todo.text}} 
            <button v-on:click="deleteItem(index)"
                class="button" id="delete">delete
            </button>
            <button v-on:click="completeItem(index)" class="button" id="complete">complete</button>
        </li>
    </ul>






<form v-on:submit.prevent>


    <!-- text input2 b/c I originally had a title and text, which was more than was necessary -->
    <label>Todo text:</label>
        <input v-on:keypress.enter="addItem"
        id="text_input2">
        </input>
<br>


<!-- pretty straightforward add button -->
    <button 
            v-on:click="addItem" 
            id="add-todo">add todo
    </button>
</form>


</div>

    <script src="https://unpkg.com/vue"></script>
    <script src="site.js"></script>
</body>
</html>


