html{
    background: linear-gradient(to right, #5bb66698, #eef13490, #0a3f80bb);
    display: flex;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 90vh;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    justify-content: left;

}

#add-todo{
    display: flex;
    background-color: hotpink;
    color: white;
    height: 2.5rem;
    font-family: monospace;
    border-radius: 15px;
    transition-duration: .5s;
    outline: none;
    justify-content: center;
    min-width: 300px;
    font-size: 20pt;
}

#add-todo:hover {
    color: hotpink;
    background-color: rgba(0, 0, 255, 0.363);
    border: 2px solid hotpink;
    transition-duration: .5s;
    outline: none;
}

#text_input {
    display: flex;
    background-color: hotpink;
    color: white;
    font-family: monospace;
    border-radius: 15px;
    transition-duration: .5s;
    outline: none;
    min-width: 300px;

}

#text_input:hover {
    color: white;
    background-color: rgba(0, 0, 255, 0.363);
    border: 2px solid hotpink;
    transition-duration: .5s;
    outline: none;
}

#text_input2 {
    display: flex;
    background-color: hotpink;
    color: white;
    font-family: monospace;
    border-radius: 15px;
    transition-duration: .5s;
    outline: none;
    padding: 5px;
    min-width: 300px;

}

#text_input2:hover {
    color: white;
    background-color: rgba(0, 0, 255, 0.363);
    border: 2px solid hotpink;
    transition-duration: .5s;
    outline: none;
}

.button{
    border-radius: 15px;
    background-color: lightblue;
    color: rgb(255, 173, 173);
    border: 1px solid pink;
    outline: none;
    transition: .5s;
}

.button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 255, 0.363);
    border: 2px solid hotpink;
    transition-duration: .5s;
    outline: none;
}

