{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Chirper</title>
        <link rel="stylesheet" href="{% static 'main.css' %}" />
    </head>

    <body>
        <header>
            <h1><a href="{% url 'posts:index' %}">Chirper</a></h1>
            {% if username %}
                <a href="">{{ username }}</a>
                <a href="{% url 'posts:create' %}">New Chirp</a>
                <a href="{% url 'users:logout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'users:login' %}">Log in</a>
                <a href="{% url 'users:signup' %}">Sign Up</a>
            {% endif %}
        </header>

        {% if error %}
            <h2 class="error">{{ error }}</h2>
        {% endif %}

        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>

</html>