{% extends 'base.html' %}

{% block content %}
    {% if replying_to %}
        <div class="chirp">
            <div class="chirp-head">
                <h4><a href="{% url 'users:profile' replying_to.author %}">{{ replying_to.author }}</a></h4>
                {% if replying_to.replying_to %}
                    <p><a href="{% url 'posts:detail' replying_to.replying_to.pk %}">@{{ replying_to.replying_to.author }}</a></p>
                {% endif %}
                <p><a href="{% url 'posts:detail' replying_to.pk %}">{{ replying_to.created }}</a></p>
            </div>
            <hr/>
            <p>{{ replying_to.content }}</p>
            <div class="chirp-foot">
                <form action="{% url 'posts:create' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="replying_to" value="{{ replying_to.pk }}" />
                    <input type="submit" value="{{ replying_to.num_replies }} Replies" />
                </form>
            </div>
        </div>
    {% endif %}

    <div class="chirp-detail">
        <h4><a href="{% url 'users:profile' post.author %}">{{ post.author }}</a></h4>
        <p>{{ post.content }}</p>
        <p>{{ post.created }}</p>
        <hr/>
        <div class="chirp-foot">
            <form action="{% url 'posts:create' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="replying_to" value="{{ post.pk }}" />
                <input type="submit" value="{{ post.num_replies }} Replies" />
            </form>
            {% if is_current %}
                <form action="{% url 'posts:delete' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="to_delete" value="{{ post.pk }}" />
                    <input type="submit" value="Delete" />
                </form>
            {% endif %}
        </div>
        </div>
    </div>

    {% for reply in replies %}
        <div class="chirp">
            <div class="chirp-head">
                <h4><a href="{% url 'users:profile' reply.author %}">{{ reply.author }}</a></h4>
                <p><a href="{% url 'posts:detail' reply.pk %}">{{ reply.created }}</a></p>
            </div>
            <hr/>
            <p>{{ reply.content }}</p>
            <div class="chirp-foot">
                <form action="{% url 'posts:create' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="replying_to" value="{{ reply.pk }}" />
                    <input type="submit" value="{{ reply.num_replies }} Replies" />
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock content %}