.container {
    max-width: 750px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
    color: #C7A7C5;
    width: 100%;
}

button {
    text-align: center;
    background-color: #EBFAF0;
}

p1 {
    color: #719E99;
    text-align: center;
    text-emphasis: bold;
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 35;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FABBD7;
    text-align: center;
}