<!DOCTYPE html>
<html>
<head>
<h1>Welcome to the Grocery list of the future</h1>
</head>

<form action="/addGroceryItem/" method="post">{% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>
</form>

<ul>
{% for grocery_item in all_items %}
<li>
<p1> {{ grocery_item.content }} </p1>
<p>Created on {{ grocery_item.timestamp }},</p> <p2>I have completed this task: {{grocery_item.completed}}</p2>
<form action="/deleteGroceryItem/{{grocery_item.id}}/"
        style="display: inline;"
        method="post">{% csrf_token %}
    <input type="submit" value="I give up!"/>
</form>
<form action="/completeGroceryItem/{{grocery_item.id}}/"
        style="display: inline;"
        method="post">{% csrf_token %}
    <input type="submit" value="done!"/>
</form>
</li>
{% endfor %}
</ul>


<style>

p {
    color: red;
    font-size: .7em;
}


p1 {
    color: blue;
    font-size: 1em;
}

p2 {
    color: blue;
    font-size: .7em;
}

h1 {
  font-size: 1.4em;
  background: linear-gradient(Blue, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
</html>