.my-link{
    color:black;
}

.students{
    width: 80%;
    margin: 40px auto;
}

.my-form{
    width: 50%;
    margin:auto
}

h2{
    padding-bottom: 15px
}

header{
    width: 50%;
    text-align: center;
    margin:auto

}