h1 a{
  color: #808080;
  font-family: 'pepperoni pizza';
}

body {
  font-family: 'Evogria';
  padding: 20px;
  /* background: black; */
  color: red;
  background-image: url("/static/css/photo-1517594422361-5eeb8ae275a9.jpeg");
}

img{
  max-height:200px;
  max-width:200px;
  height:auto;
  width:auto;
}

.header {
  background-color: #808080;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  background-image: url("/static/css/photo-1560698711-6df2370d7d62.jpeg");
}

.header h1, .header h1 a, .header h1 a:visited, .header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
  font-family: 'pepperoni pizza';
}

.content {
  margin-left: 40px;
}

h1, h2, h3, h4 {
  font-family: 'orange juice';
  color: red;
}

.save {
  float: center;
}

.form textarea, .form input {
  width: 100%;
}

.top, .top:hover, .top:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
  font-family: 'Evogria';
}

.rant {
  color: #ffffff;
  float: center;
  font-size: 26pt;
  margin-right: 20px;
  font-family: 'Firestarter';
  background-image: url("/static/css/photo-1517594422361-5eeb8ae275a9.jpeg");
}

.post {
  margin-bottom: 70px;
  font-family: 'Evogria';
  color: lightslategray;
}

.post h2 a, .post h2 a:visited {
  color: #000000;
  font-family: 'Evogria';
}

.footer h1{
  font-size: 36pt;
  text-decoration: none;
  font-family: 'orange juice';
  color: red;
}
