{%extends 'chirp/base.html'%}
{%block content%}
    {%if posts%}
        {%for post in posts%}
            <h5><img class= "rounded-circle article-img" src="{{post.author.profile.image.url}}">{{post.author}}</h5>
            <a class='date_posted' href="{%url 'chirp:detail' post.id%}">{{post.date_posted}}</a>
            {%if post.is_modified%}
                <p class='date_modified'> Edited {{post.date_modified}}</p>
            {%endif%}
            <p class='post_content'>{{post.content}}</p>
        {%endfor%}
    {%else%}
        <p>You haven't posted yet! Create your first post now: <a class="date_posted" href="{%url 'chirp:create'%}">New Post</button>
    {%endif%}
{%endblock content%}
