{% load static %}

<!DOCTYPE html>
<html>
    <head> 
        <title>Shopping List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{%static "shopping_list_app/main.css"%}">
    </head>
    <body>
        <div class="container">
            <div class="user-size">
                <fieldset class="form-size"/>
                <legend><strong> Shopping List </strong></legend>
                <form action='{% url 'shopping_list_app:add_item' %}' method='post'>
                    {% csrf_token %}
                    <label for="item">Add to List: </label><input type="text" name="item_id" id="item_id"><br>
                    <label for="amount">Quantity:</label><input type="interger" name="amount" id="amount"><br>
                    <button id="submit">Submit item</button>
                    <button id="clear">Clear items</button>
                </form>
                <fieldset class="form-size"/>
                <legend> To Purchase </legend>
                <ul id='list'>
                    {% for item in shop_list  %}
                        <li>{{item.item}},{{amount.amount}}</li>
                    {% endfor %}
                </ul>
                </fieldset>
            </div>
        </body>
</html>
