<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
        <link rel="stylesheet" href="home.css" />
        <meta charset="UTF-8">
        <meta name="author" content="">
        <title> Home - Grocery List </title>
    </head>

    <body>
    
        <h1>GROCERY LIST <h1>
        <p> incomplete items </p>
        {%for item in incomplete_items%}
            <ul>
                <li>{{item}}</li>
                <input type="radio" id="complete" value="complete" name="items"> </input>
                <label for="complete">complete</label>
                <input type="radio" id="incomplete" value="incomplete" name="items"></input>
                <label for="incomplete">incomplete</label>
                <input id="delete" type="radio"  name="items"> </input>
                <label for="delete"> Delete</label>
            </ul>
        {% endfor %}
        

        <p> complete items </p>
        {%for item in complete_items%}
            <ul>
                <li>{{item}}</li>
                <input type="radio" id="complete" value="complete" name="items"> </input>
                <label for="complete">complete</label>
                <input type="radio" id="incomplete" value="incomplete" name="items"></input>
                <label for="incomplete">incomplete</label>
                <input action="{% url 'grocery_list:delete' %}" method="post" id="delete" type="radio"  name="items"> </input>
                <label for="delete"> Delete</label>
            </ul>
        {% endfor %}
        <form action="{% url 'item:add' %}" method="POST">
            {% csrf_token %} 
            <label for="text_field">New Item:</label>
            <input id="text_field" name="text_field" type="text">
            <br>
            <input type="submit" class="save_button" value="Save"></input>
         </form>
    </body>
</html>