html{
    background: linear-gradient(to bottom right, #0000ff85, #ffa600a1, #8000647c);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    }

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 2px;
    color: rgb(255, 255, 255);
    font-size: 18pt;
    height: 400px;
    width: 500px;
    border-radius: 25px 25px 25px 0px;
    background: linear-gradient(to top left, #0000ff3a,  #8000643b, #ffa60032);  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid wheat;
    box-shadow: 4px 4px 12px black;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headalicious{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 2px;
    align-content: center;
    color: rgba(21, 255, 0, 0.897);
    font-size: 25pt;
    height: 100px;
    width: inherit;
    border-radius: 25px 25px 25px 0px;
    background: linear-gradient(to bottom left, #0000ff3a,  #8000643b, #ffa60032);  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid wheat;
    box-shadow: 4px 4px 12px black;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 4px 1em white;
    animation: mymove 4s infinite;
}
@keyframes mymove {
  50% {text-shadow: 5px 2px 8px #fbff00a6;}
}

quote{
    color: rgb(255, 255, 255);
    text-shadow: 5px 2px 8px white;
    animation: mymove 4s infinite;
}
@keyframes mymove {
  50% {text-shadow: 2px 4px 6px #fbff00a6;}
}
