/* .btn,
.zero {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #484848;
	background-color: #f4faff;
	border-radius: 5px;
} */

button {
  border: 5px solid red;
}

.Display-number {
  border: 5px solid blue;
}


